:root {
    /* CSS HEX */
    --lemon-meringue: #f1e8b8ff;
    --yellow-crayola: #f9e784ff;
    --copper-crayola: #e58f65ff;
    --indian-red: #d05353ff;
    --eerie-black: #191919ff;
}

* {
    align-content: center;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--lemon-meringue);
    padding-left: 50px;
    padding-right: 50px
}

button {
    box-shadow: inset 0px 3px 8px var(--copper-crayola), 0 0 15px var(--eerie-black);

}
.card {
    background-color: var(--yellow-crayola);
    padding-left: 20px;
    padding-right: 20px;
}

.card-body {
    align-content: center;
}

.startBtn {
    max-width: 100px;
    background-color: var(--yellow-crayola);
    align-content: center;
    text-align: center;
}