:root {
    /* CSS HEX */
    --lemon-meringue: #f1e8b8ff;
    --yellow-crayola: #f9e784ff;
    --copper-crayola: #e58f65ff;
    --indian-red: #d05353ff;
    --eerie-black: #191919ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Class */
.hide {
  display: none;
}

